header{
    background:#D9D9D9;
    padding:20px;
}

#logo{
    border-radius: 10px;
}


@font-face {
    font-family: 'Circe';
    font-style: normal;
    font-weight: normal;
    src: local('Circe'), url('CRC55.woff') format('woff');
    }
    
.titulo-principal{
    position: absolute;
    top: 13%;
    left: 30%;
    font-size: 35px;
    font-family: 'Circe' ;
}

main{
    width: 940px;
    margin: auto;
}

form{
    margin: 40px 0; /*margem superior de 40px,para os lados zero*/
}

form label,form p{/*vamos replicar a mesma configuração do for}
